C:\Users\simon\OneDrive\Dokument\Programmering\My Programs\project_planner\Scripts
C:\Users\simon\OneDrive\Dokument\Programmering\My Programs\project_planner\Lib
C:\Users\simon\OneDrive\Dokument\Programmering\My Programs\project_planner\Include
C:\Users\simon\OneDrive\Dokument\Programmering\My Programs\project_planner\pyenv